
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Tech\ Background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 0.5s;

}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
    color: #0f0;
    margin-top: 1.5em;
    position: relative;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: white;

}
button{
    width: 200px;
    padding: 15PX 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

span{
    background:#009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;

}
button:hover {
    border: none;
}

.fa-brands fa-termial{
    color: #0f0;
}

.skills-img {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 110%;
    right: 30%;
    margin: 10px;
    justify-content: space-between;
    border: none;
}

.skills-img a:hover{
    transform: scale(1.2);

}

/*---Experinece1---*/
.Experinece1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;

}
.Experinec{
    flex-basis: 31%;
    background: #f3f9ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 32px ;
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    box-shadow: 0 10px 20px rgba(99, 89, 89, 0.2);
    justify-content: center;
    overflow: hidden;

}

  .Experinec:hover {
    box-shadow:0 0 20px 0px rgba(0, 0, 0, 0.2);
  }
  .Experinec:hover .btn {
    color: #212121;
    background: #dd0f0f;
  }

  h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
  }
  @media(max-width: 700px){
    .row{
        flex-direction: column;
    }
  }


.contact_scetion{
    display: flex;  
    left: 50%;  
    background: #0f0;
}
.heading_container h2{
    text-align: center;
    font-size: 50px;
}
.contact_scetion .heading_container{
    margin-bottom: 45px;
}
.contact_section .form_container input {
    width: 100%;
    border: 1px solid #b0b0b0;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    background-color: transparent;
    outline: none;
    color: #101010;
  }
  .contact_section .form_container input::-webkit-input-placeholder {
    color: #b0b0b0;
  }
  .contact_section .form_container input:-ms-input-placeholder {
    color: #b0b0b0;
  }
  .contact_section .form_container input::-ms-input-placeholder {
    color: #b0b0b0;
  }
  
.contact_section .form_container input::placeholder {
    color: #b0b0b0;
  }
  
  .contact_section .form_container input.message-box {
    height: 120px;
  }
  
  .contact_section .form_container .btn_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
.contact_section .form_container button {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 65px;
    background-color: #46ff65;
    color: #000000;
    border-radius: 0;
    border: 1px solid #46ff46;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-weight: bold;
  }
  .contact_section .form_container button:hover {
    background-color: transparent;
    color: #000000;
  }
  
  








/*----footer----*/
.footer{
    background-color: #111;
}
.footercontainer{
    width: 100%;
    padding: 4px 5px 5px;
}
.socialIcons{
    display: flex;
    justify-content: center;

}
.socialIcons a{
    text-decoration: none;
    padding: 5px;
    background-color: #fff;
    margin: 20px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}


/*----Hover Effects on Social Icons----*/

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: #fff;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;

}
.footerBottom p{
    color: #fff;
    text-align: center8;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}